<!doctype html>
<html>
	<head>
		<title>Update Contact</title>

		<link rel="stylesheet" type="text/css" href="/styles/reset.css" />
        <link rel="stylesheet" type="text/css" href="/styles/main.css" />
        <link rel="stylesheet" type="text/css" href="/styles/login.css">
        <link rel="stylesheet" type="text/css" href="/styles/menubar.css">
        <link rel="stylesheet" type="text/css" href="/styles/tables.css">

        <link rel="stylesheet" type="text/css" href="/styles/smoothness/jquery-ui-1.10.2.css" />

	</head>
	<body>
		<div id="wrapper">

            <div id="heading">
                <h1>Enterprise Routing System &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;Customer Service: 1 (800) 778-9111</h1>
            </div>
            <div id="menu-wrapper">
            	<br><br>
            </div>
            
            <div sec:authorize="isAuthenticated()" class = "navSideBar" id="mySidebar">
                <button onclick="nav_close()" class="bar-item">...</button>
                <div id="menu">
                    <ul class="navbar">
                        <li class="navitem">
                            <a class="navlink" id="nav_home" href="/">Home</a>
                        </li>
                        <li sec:authorize="hasAuthority('ADMIN')" class="navitem">
                            <a class="navlink" id="nav_users" href="/users">Users</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="selected" id="nav_contacts" href="/contacts">Contacts</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_locations" href="/locations">Locations</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicles" href="/vehicles">Vehicles</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_vehicletypes" href="/vehicletypes">Vehicle Types</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_drivers" href="/drivers">Drivers</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_technicians" href="/technicians">Technicians</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_maintenanceorders" href="/maintenanceorders">Maintenance</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_carriers" href="/carriers">Carriers</a>
                        </li>
                        <li sec:authorize="hasAuthority('MASTERLIST')" class="navitem">
                           <a class="navlink" id="nav_shipments_home_masterlist" href="/shipmentshomemaster">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('SHIPPER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_shipper" href="/shipmentshomeshipper">Shipments</a>
                        </li>
                        <li sec:authorize="hasAuthority('CARRIER')" class="navitem">
                            <a class="navlink" id="nav_shipments_home_carrier" href="/shipmentshomecarrier">Shipments</a>
                        </li>
                        <li sec:authorize="hasAnyAuthority('CARRIER','MASTERLIST')" class="navitem">
                            <a class="navlink" id="nav_routes" href="/routes">Routes</a>
                        </li>
						<br><br><br><br><br>
                        <li sec:authorize="isAuthenticated()" class="navitem">
                            <form id="logoutForm" method="POST" th:action="@{/logout}">
                                <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                            </form>
                            <a class="navlink" onclick="document.forms['logoutForm'].submit()">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div sec:authorize="!isAuthenticated()" class = "navSideBar" id="mySidebar">
                <button onclick="nav_close()" class="bar-item">...</button>
                <ul class="navbar">
                    <li class="navitem">
                        <a class="selected" id="nav_home" href="/">Home</a>
                    </li>
                    <br>
                    <li sec:authorize="!isAuthenticated()" class="navitem">
                        <a class="navlink" id="nav_login" href="login">Login</a>
                    </li>
                    <br>
                    <li sec:authorize="!isAuthenticated()" class="navitem">
                        <a class="navlink" id="nav_registration" href="/registrationhome">Register</a>
                    </li>
                </ul>
            </div>

            <div id="sub_heading">
                <div id="loginDiv">
                    <div sec:authorize="isAuthenticated()" style="float: right;">
                        <form id="logoutForm" method="POST" th:action="@{/logout}">
                            <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
                        </form>
                        Hello <span sec:authentication="name"></span> | <a onclick="document.forms['logoutForm'].submit()">Logout</a>
                    </div>
                    <div sec:authorize="!isAuthenticated()" style="float: right;">
                        <a id="loginLink" class="ui-button" href="/login">Login</a>
                    </div>
                </div>
            </div>
			
			<div id="content">
				<span class="nav-expand">
  					<button class=""  id="hamburger" style="display:none" onclick="nav_open()">☰</button>
				</span>
				<br><br>
                <h2>Update Contact</h2>
                    <form action="#" th:action="@{/updatecontact/{id}(id=${contacts.id})}" th:object="${contacts}" method="post">
                    <hr>
	                    <div class="form-group">
	                        <span type="hidden" th:text="${message}" class="loginMessage"></span>
	                        <span type="hidden" th:text="${error}" class="loginError"></span>
	                        <br>
	                        <h2> Enter Your Info</h2>
	                        <br>
	                        <label for="firstName">First Name: </label>
	                        <input type="text" th:field="*{firstName}" id="firstName" placeholder="First Name">
	                        <span th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}"></span>
							<br>
	                        <label for="lastName">Last Name: </label>
	                        <input type="text" th:field="*{lastName}" id="lastName" placeholder="Last Name">
	                        <span th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></span>
							<br>
	                        <label for="middleInitial">Middle Initial: </label>
	                        <input type="text" th:field="*{middleInitial}" id="middleInitial" placeholder="Middle Initial">
	                        <span th:if="${#fields.hasErrors('middleInitial')}" th:errors="*{middleInitial}"></span>
							<br>
	                        <label for="emailAddress">Email Address: </label>
	                        <input type="text" th:field="*{emailAddress}" id="emailAddress" placeholder="Email Address">
	                        <span th:if="${#fields.hasErrors('emailAddress')}" th:errors="*{emailAddress}"></span>
							<br><br>
						</div>
						<div class="form-group2">
							<br>					
	                        <label for="streetAddress1">Street Address 1: </label>
	                        <input type="text" th:field="*{streetAddress1}" id="streetAddress1" placeholder="Street Address 1">
	                        <span th:if="${#fields.hasErrors('streetAddress1')}" th:errors="*{streetAddress1}"></span>
							<br>
	                        <label for="streetAddress2">Street Address 2: </label>
	                        <input type="text" th:field="*{streetAddress2}" id="streetAddress2" placeholder="Street Address 2">
	                        <span th:if="${#fields.hasErrors('streetAddress2')}" th:errors="*{streetAddress2}"></span>
							<br>
	                        <label for="city">City: </label>
	                        <input type="text" th:field="*{city}" id="city" placeholder="City">
	                        <span th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
							<br>
	                        <label for="state">State: </label>
                        <select name="state" th:field="*{state}" id="state">
                        <option value="state"></option>
                        <option value="AL">Alabama</option>
 						<option value="AK">Alaska</option>
  						<option value="AZ">Arizona</option>
 						<option value="AR">Arkansas</option>
  						<option value="CA">California</option>
  						<option value="CO">Colorado</option>
  						<option value="CT">Connecticut</option>
  						<option value="DE">Delaware</option>
  						<option value="DC">Dist of Columbia</option>
  						<option value="FL">Florida</option>
  						<option value="GA">Georgia</option>
  						<option value="HI">Hawaii</option>
  						<option value="ID">Idaho</option>
  						<option value="IL">Illinois</option>
  						<option value="IN">Indiana</option>
 						<option value="IA">Iowa</option>
 						<option value="KS">Kansas</option>
  						<option value="KY">Kentucky</option>
  						<option value="LA">Louisiana</option>
  						<option value="ME">Maine</option>
  						<option value="MD">Maryland</option>
  						<option value="MA">Massachusetts</option>
  						<option value="MI">Michigan</option>
  						<option value="MN">Minnesota</option>
  						<option value="MS">Mississippi</option>
  						<option value="MO">Missouri</option>
  						<option value="MT">Montana</option>
  						<option value="NE">Nebraska</option>
  						<option value="NV">Nevada</option>
  						<option value="NH">New Hampshire</option>
  						<option value="NJ">New Jersey</option>
  						<option value="NM">New Mexico</option>
  						<option value="NY">New York</option>
  						<option value="NC">North Carolina</option>
  						<option value="ND">North Dakota</option>
  						<option value="OH">Ohio</option>
  						<option value="OK">Oklahoma</option>
  						<option value="OR">Oregon</option>
  						<option value="PA">Pennsylvania</option>
  						<option value="RI">Rhode Island</option>
  						<option value="SC">South Carolina</option>
  						<option value="SD">South Dakota</option>
  						<option value="TN">Tennessee</option>
  						<option value="TX">Texas</option>
  						<option value="UT">Utah</option>
  						<option value="VT">Vermont</option>
  						<option value="VA">Virginia</option>
  						<option value="WA">Washington</option>
  						<option value="WV">West Virginia</option>
  						<option value="WI">Wisconsin</option>
  						<option value="WY">Wyoming</option>
                        </select>
	                        <span th:if="${#fields.hasErrors('state')}" th:errors="*{state}"></span>
							<br>
	                        <label for="zip">Zip Code: </label>
	                        <input type="text" th:field="*{zip}" id="zip" placeholder="Zip Code" minlength = "5" maxlength = "10" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
	                        <span th:if="${#fields.hasErrors('zip')}" th:errors="*{zip}"></span>
							<br>
	                        <label for="primaryPhone">Primary Phone: </label>
	                        <input type="text" th:field="*{primaryPhone}" id="primaryPhone" placeholder="Primary Phone" minlength = "10" maxlength = "11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
	                        <span th:if="${#fields.hasErrors('primaryPhone')}" th:errors="*{primaryPhone}"></span>
							<br>
	                        <label for="workPhone">Work Phone: </label>
	                        <input type="text" th:field="*{workPhone}" id="workPhone" placeholder="Work Phone" minlength = "10" maxlength = "11" oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1');">
	                        <span th:if="${#fields.hasErrors('workPhone')}" th:errors="*{workPhone}"></span>
	                        <br>
	                        <input type="hidden" name="${_csrf.parameterName}" value="${_csrf.token}"/>
	                        <br>
	                        <button class="buttons2" onclick="window.location.href='./contacts';">Back</button>
	                    	<button class="buttons4" type="submit">Update Contact</button>
	                    </div> 
                	</form>
                </div>
			</div>
		</div>

		<div class="footer">
            Copyright &copy; Slippery Rock University 2022
        </div>
		<script>
		function nav_open() {
			document.getElementById("content").style.marginLeft = "15%";
			document.getElementById("mySidebar").style.width = "15%";			
			document.getElementById("mySidebar").style.display = "block";
			document.getElementById("hamburger").style.display = "none";
		}
	
		function nav_close() {
	  		document.getElementById("content").style.marginLeft = "0%";
	  		document.getElementById("mySidebar").style.display = "none";
	  		document.getElementById("hamburger").style.display = "block";
		}
		</script>
	</body>
</html>